.DS_Store
.zip
**/build
*.zip
._*
.vscode/**/*
/software/v1.0/bl-hub/.cache
/software/v1.0/bl-hub/.vscode
/software/v1.0/main-unit/.cache
/software/web/node_modules
*.code-workspace
/software/v1.1/bl-hub-s3/.cache
/software/v1.1/main-unit-s3/.cache
/software/v2.0/main-unit/.cache
/software/v2.0/side-unit/.cache
/software/web/display/node_modules
/software/v2.0 Prototype/main-unit/.cache
/software/v2.0 Prototype/side-unit/.cache
/software/v3.0/main-unit/.cache
/software/v3.0/testy/.cache
